header{
    background: linear-gradient( 
        90deg,
        #59c5b3 0%,
        #18776f 100%
    );
    width: 100%;
    height: 15%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    text-align: center;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: hidden;
    transition: transform 0.3s ease;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
h1{
    color: #000;
    margin-bottom: 20px;
    background-image: linear-gradient(90deg,
    #0bc6ff,
    #00FF88);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 2px rgba(1,1,2,0.1);
}
section{
    position: absolute;
    top: 16%;
    left: 2%;
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0%;
    overflow-y: hidden;
    overflow-x: hidden;
}
ol, ul{
    margin-left: 30px;
    margin-bottom: 20px;
}
#special-list-1{
    margin-left: 30px;
}

button{
    border: none;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.404);
    transition: all 0.3s ease;
    z-index: 1;
}
button:hover{
    background-color: rgba(204, 204, 204, 0.705);
}
#forward{
    margin-left: 95.5%;
}
#backward{
    left: 2%;
}
h3{
    position: relative;
    left: 10px;
}
@media (max-width: 800px) {
    body, html{
        overflow: hidden;
    }
    header{
        height: 14%;
        width: 100%;
    }
    *{
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    #forward, #backward {
        overflow: hidden;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    #forward {
        margin-left: 85%;
    }
    #backward {
        margin-left: 1%;
    }
    h2{
        font-size: 22px;
    }
    section{
        overflow: hidden;
        width: 97%;
    }
    button:hover{
        background-color: rgba(204, 204, 204, 1);
    }
    #realexfr-c{
        transform: translateX(240%);
        position: relative;
        top: -95%;
    }
    #realexfr{
        transform: translateX(120%);
        top: -96% !important;
    }
}

pre:not(code){
    font-family: Arial, Helvetica, sans-serif;
}


div{
    overflow-y: hidden;
    overflow-x: hidden;
    position: static;
    top: 0;
    left: 3%;
}

code{
    background-color: #e4e4e4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

#realexfr{
    position: relative;
    top: -55%;
}

#forward:disabled, #backward:disabled{
    cursor: not-allowed;
    background-color: rgba(204, 204, 204, 0.2);
}
